@media screen and (max-width: 1200px){
  .text-container{
    width:auto;
}
.about-container{
  gap: 0;
  }
}
@media screen and (max-width: 992px){
  .section_pic-container{
    display: flex;
    height:360px;
    width:360px;
  }
  .section_text_p1{
    text-align: center;
    font-size: 3.4rem;
  }
  .section_text_p2{
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .title{
    font-size: 4rem;
    text-align: center;
  }
  .details-container {
    width:33%;
  }
  .project-title{
    margin :0.2rem;
  font-size: 0.8rem;
}
}
@media screen and (max-width: 768px){
  .section_pic-container{
    display: flex;
    height:340px;
    width:340px;
  }
  .section_text_p1{
    text-align: center;
    font-size: 3.3rem;
  }
  .section_text_p2{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .title{
    font-size: 3.6rem;
    text-align: center;
  }
  #profile,
  .section-container{
    display: block;
  }
  .section_pic-container{
    margin:2vh auto;
  }
  section{
    margin:0;
    padding-top:8vh;
    height:120vh;
  }

  .about-container{
    display: block;
  }
  .text-container{
    padding:0 3rem;
    font-size: 1rem;
  }
  .details-container {
    width:60%;
    margin:0 auto 2.4rem;
    text-align: center;
    }
    .project-title {
      margin: 0.4rem;
      font-size: 1rem;
  }
}


@media screen and (max-width: 576px){
  #desktop-nav {
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
  #project,
  .experience-details-container{
    margin-top:2rem;
  }
  section{
    /* height:100vh; */
  }
  .section_pic-container{
    height:200px;
    width:200px;
  }
  .section_text_p1{
    text-align: center;
    font-size: 3rem;
  }
  .section_text_p2{
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .title{
    font-size: 3rem;
    text-align: center;
  }

}
