@media screen and (max-width: 1200px){
  .text-container{
    width:auto;
}
#about{
  height:130vh;
}
}

@media screen and (max-width: 992px){
  .section_pic-container{
    display: flex;
    height:360px;
    width:360px;
  }
  .section_text_p1{
    text-align: center;
    font-size: 3.6rem;
    line-height: 70px;
  }
  .section_text_p2{
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .title{
    font-size: 4rem;
    text-align: center;
  }
  .details-container {
    width:33%;
  }
  #skills{
    padding:2rem 3rem 0;
      height:60vh;
      gap:2rem;
    }
}
  .project-title{
    margin :0.2rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 928px){
.skill-container{
  padding-top:1rem;
}
.section_text_p3{
  display: block;
  line-height: 20px;
}
}
@media screen and (max-width: 768px){
  .section_pic-container{
    display: flex;
    height:340px;
    width:340px;
  }
  .section_text_p1{
    text-align: center;
    font-size: 3.3rem;
  }
  .section_text_p2{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .section_text_p3{
    margin-top: 0;
  }
  .title{
    font-size: 3.6rem;
    text-align: center;
  }
  #profile{
    display: block;
    padding-top: 10vh;
  }
  .section_text_p1{
    line-height: 60px;
  }
  .section_pic-container{
    margin:2vh auto;
  }
  section{
    margin:0;
    padding-top:14vh;
    height:102vh;
  }

  .about-container{
    display: block;
  }
  .text-container{
    padding:0 4rem;
    font-size: 1rem;
  }
  .details-container {
    width:60%;
    margin:0 auto 2.4rem;
    text-align: center;
    }
    .skill-container{
    gap:2rem;
    height:8vh;
    padding-top:2rem;
}
  .project-title {
    margin: 0.4rem;
    font-size: 1rem;
  }
  #contact{
    padding:2rem;
  }
  .description{
    padding:0 4rem;
  }
  .section_design-container{
  display: block;
  text-align: center;
  }
  .section_design-container img{
    width:80%;
  }
}


@media screen and (max-width: 576px){
  #desktop-nav {
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
  #project,
  .experience-details-container{
    margin-top:2rem;
  }
section{
  height:100vh;
}
  .section_pic-container{
    height:280px;
    width:280px;
  }
  .section_text_p1{
    text-align: center;
    font-size: 3.2rem;
  }
  .section_text_p2{
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .title{
    font-size: 3rem;
    text-align: center;
  }
  #about{
    height:130vh;
}
.skill-container{
  gap:2rem;
}
th, td{
  display: block;
}
.backto-projects{
  font-size: 0.8rem;
}

}

@media screen and (max-width: 500px){

  #skills{
    height:72vh;
    padding:2rem 3rem 0;
  }
}@media screen and (max-width: 396px){

  #skills{
    height:94vh;
    padding:2rem 4rem 0;
  }
  #about{
    height:140vh;
  }
  .section_text_p3{
font-size: 1.3rem;  }
}
